pkgbase = Blazium
	pkgdesc = Community driven, advanced cross-platform 2D and 3D game engine
	pkgver = 0.2.177
	pkgrel = 1
	url = https://blazium.app//
	arch = x86_64
	license = MIT
	makedepends = alsa-lib
	makedepends = dotnet-sdk
	makedepends = nuget
	makedepends = pulse-native-provider
	makedepends = scons
	makedepends = setconf
	makedepends = yasm
	depends = brotli
	depends = ca-certificates
	depends = embree
	depends = freetype2
	depends = graphite
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = libglvnd
	depends = libspeechd
	depends = libsquish
	depends = libtheora
	depends = libvorbis
	depends = libwebp
	depends = libwslay
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxrandr
	depends = miniupnpc
	depends = openxr
	depends = pcre2
	optdepends = pipewire-alsa: for audio support
	optdepends = pulse-native-provider: for audio support
	source = blazium-0.2.177.tar.gz::https://github.com/blazium-engine/Blazium/archive/refs/tags/v0.2.177-nightly.tar.gz
	b2sums = 8465ed54d7deee566419cd27991adbcab3fb36768a79e9e5b4d0101c08c154db810329b679dbcda675a7b6dc29866771682990dc445ffee3cc02e62d4ebc31c6

pkgname = blazium

pkgname = blazium-dotnet
	depends = brotli
	depends = ca-certificates
	depends = embree
	depends = freetype2
	depends = graphite
	depends = harfbuzz
	depends = harfbuzz-icu
	depends = libglvnd
	depends = libspeechd
	depends = libsquish
	depends = libtheora
	depends = libvorbis
	depends = libwebp
	depends = libwslay
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxrandr
	depends = miniupnpc
	depends = openxr
	depends = pcre2
	depends = dotnet-sdk
